############################################### MISC
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.cache
.parcel-cache
.next
out
.nuxt
dist
.cache/
.vuepress/dist
.temp
.cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

########################################## SERVER_TS_APP
/server_ts_app/pids
/server_ts_app/*.pid
/server_ts_app/*.seed
/server_ts_app/*.pid.lock
/server_ts_app/lib-cov
/server_ts_app/coverage
/server_ts_app/*.lcov
/server_ts_app/.nyc_output
/server_ts_app/.grunt
/server_ts_app/bower_components
/server_ts_app/.lock-wscript
/server_ts_app/build/Release
/server_ts_app/node_modules
/server_ts_app/jspm_packages/
/server_ts_app/web_modules/
/server_ts_app/*.tsbuildinfo
/server_ts_app/.npm
/server_ts_app/.eslintcache
/server_ts_app/.stylelintcache
/server_ts_app/.rpt2_cache/
/server_ts_app/.rts2_cache_cjs/
/server_ts_app/.rts2_cache_es/
/server_ts_app/.rts2_cache_umd/
/server_ts_app/.node_repl_history
/server_ts_app/*.tgz
/server_ts_app/.yarn-integrity

######################################### SERVER_APP
/server_app/node_modules
/server_ts_app/logs
/server_ts_app/*.log
/server_ts_app/npm-debug.log*
/server_ts_app/yarn-debug.log*
/server_ts_app/yarn-error.log*
/server_ts_app/lerna-debug.log*
/server_ts_app/.pnpm-debug.log*

######################################### CLIENT_APP
/client_app/node_modules
/client_app/.pnp
/client_app/.pnp.js
/client_app/coverage
/client_app/build
/client_app/.env.local
/client_app/.env.development.local
/client_app/.env.test.local
/client_app/.env.production.local


